*wallet.json
node_modules
target
.DS_Store
# Ignore logs and RocksDB files
test-ledger/rocksdb/*.log
test-ledger/rocksdb/*.sst
test-ledger/validator-*.log
test-ledger/*
rs/src/programs/mpl-token-metadata/*
